<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zimingsir.cart.dao.CartDAO">
    <select id="getId" resultType="Integer">
        select id from cart_cart where user_id=#{userId} and sku_id=#{skuId};
    </select>
    <update id="addNumber">
        update cart_cart set number=number+1 where id=#{id}
    </update>
</mapper>