<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="commodityBox" style="display: flex">
    <img th:src="@{${commodity.imgUrl}}" height="400" alt="商品效果图" id="photo"/>
    <div style="font-size: 30px">
        <div style="display: flex">品牌：
            <div th:text="${commodity.brand}">品牌：</div>
        </div>
        <div style="display: flex">商品名称:
            <div th:text="${commodity.name}">商品名称：</div>
        </div>
        <div style="display: flex">商品价格:
            <div th:text="${commodity.price}">商品价格：</div>
        </div>
        <div>
            <table>
                <tr th:each="attribute : ${attributes}">
                    <td>
                        <div style="display: flex">
                            <div th:text="${attribute.attributeName} + ':    '" style="display: inline"></div>
                            <table>
                                <tr th:each="value : ${attribute.values}">
                                    <div th:text="'[' + ${value.name} + ' : ' +${value.id} + ']'"></div>
                                </tr>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
        <!--        TODO 完成控制器功能-->
        <form th:action="@{/commodity/addInCart}" method="post">
            <div>
                <label for="name">拼接后的字符串：</label>
                <input type="text" id="name"  name="selectIndex"/>
            </div>
            <div>
                <input type="submit" id="submit" name="submit_button" value="提交"/>
            </div>
        </form>
    </div>
</div>

</body>
</html>